
@model IEnumerable<CarRent.Models.Car>

@{
    ViewData["Title"] = "Welcome To CarRent";
}

<div class="text-center mt-5">
    <h1>Welcome to CarRent</h1>
    <p>Your trusted car rental service!</p>
    <p>Choose from a wide selection of cars for your perfect journey.</p>
    <a class="btn btn-primary btn-lg mt-3" asp-controller="Cars" asp-action="Index">Explore Cars</a>
</div>

<div class="mt-5">
    <h2>Popular Cars</h2>
    <div class="row mt-4">
        @foreach (var car in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@Url.Content(car.ImagePath)" class="card-img-top img" alt="Car Image">
                    <div class="card-body">
                        <h5 class="card-title">@car.Name</h5>
                        <p class="card-text">@car.Description</p>
                        <a class="btn btn-primary" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
