html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img{
    height:200px;
    object-fit:cover;
}
<<<<<<< HEAD
.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
    color: #007bff; 
}
=======

>>>>>>> a6e8a07609006eacabbabc778c0819453809e990
